services:
  base_control:
    build: ./base_env
    container_name: base_container
    network_mode: host
    privileged: true
    # [추가] ROS2 통신 성능 향상 (대용량 데이터/이미지 전송 시 유리)
    ipc: host
    environment:
      - DISPLAY=$DISPLAY
      - ROS_DOMAIN_ID=77
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ./base_env/src:/root/robotArm_ws/src/user_pkgs
    devices:
      - /dev/bus/usb:/dev/bus/usb
    command: ["bash", "-lc", "sleep infinity"]

  yolo_service:
    build: ./yolo_service
    container_name: yolo_container
    network_mode: host
    privileged: true
    # [추가] ROS2 통신 성능 향상 (대용량 데이터/이미지 전송 시 유리)
    ipc: host
    # --- 아래 두 줄 추가 ---
    stdin_open: true 
    tty: true
    # ----------------------
    environment:
      - DISPLAY=$DISPLAY
      - ROS_DOMAIN_ID=77
    volumes:
      - ./yolo_service/src:/root/robotArm_ws/src/user_pkgs

  llm_service:
    build: ./llm_service
    container_name: llm_container
    network_mode: host
    privileged: true
    # [추가] ROS2 통신 성능 향상 (대용량 데이터/이미지 전송 시 유리)
    ipc: host
    stdin_open: true 
    tty: true
    
    # key 연결
    env_file:
      - .env

    #[수정됨] 경로를 명확하게 고정했습니다.
    environment:
      - PULSE_SERVER=unix:/run/user/1000/pulse/native
      - PULSE_COOKIE=/root/.config/pulse/cookie
      - ROS_DOMAIN_ID=77
      # 아래는 한글 출력을 위한 인코딩 설정 (LLM이 한글 뱉을 때 깨짐 방지)
      - PYTHONIOENCODING=utf-8
      - LANG=C.UTF-8

    volumes:
      - ./llm_service/src:/root/robotArm_ws/src/user_pkgs
      
      # 1. 오디오 소켓 (기존 유지)
      - /run/user/1000/pulse:/run/user/1000/pulse
      # 2. 인증 쿠키 (기존 유지하되, 환경변수와 경로 일치시킴)
      - ~/.config/pulse/cookie:/root/.config/pulse/cookie      
      # 3. [추가됨] 머신 ID (지문 인식 - 이게 핵심!)
      - /etc/machine-id:/etc/machine-id:ro
